# Auto detect text files and perform LF normalization
* text=auto
简单来说，PID 控制器就是对输入信号 r(t)和输出信号c(t)的差值 e(t)（即误差信号）进行比
例、积分和微分处理，再将其加权和作为控制信号u(t)来控制受控对象，从而完成控制过程的。

 K P 值的增大，系统的响应速度加快，稳态误差减小，超调量却在增加，调节时间变长，而且随着 K P 值增大到一定程度，系统最终会变得不稳定。这也验证了前面对比例控制的描述。

加入积分调节可使系统稳定性下降，动态响应变慢。积分作用常与另两种调节规律结合，组成PI调节器或PID调节器，单独的积分单元的引入会带来相位滞后，为系统的稳定性带来不良影响    消除稳态误差的作用。

微分作用反映系统偏差信号的变化率，具有预见性，能预见偏差变化的趋势，因此能产生超前的控制作用，在偏差还没有形成之前，已被微分调节作用消除。因此，可以改善系统的动态性能。在微分时间选择合适情况下，
可以减少超调，减少调节时间。微分作用对噪声干扰有放大作用，因此过强的加微分调节，对系统抗干扰不利。此外，微分反应的是变化率，而当输入没有变化时，微分作用输出为零。微分作用不能单独使用，需要与另外两种调节规律相结合，组成PD或PID控制器
MPU6050 转到 180 度时，其航向角的差值过大，往左右轻微摇摆就能达到 360 度左右的差值，PID 计算出的 PWM 值传入舵机后会持续往一个方向打死，由此导致小车不停转圈。

最后将偏航角的范围改为 0-360 度，并在 PID 积分器中对较大的差值做了处理上述 。
 icm20602_get_acc();//获取加速度计
    icm20602_get_gyro();//获取陀螺仪
    LPF_1_db(35,1000,(float)(icm20602_gyro_x - GRY_OffsetRaw.AXIS_X),&GRYX);
    LPF_1_db(35,1000,(float)(icm20602_gyro_y - GRY_OffsetRaw.AXIS_Y),&GRYY);
    LPF_1_db(35,1000,(float)(icm20602_gyro_z - GRY_OffsetRaw.AXIS_Z),&GRYZ);
    LPF_1_db(35,1000, (float)(icm20602_acc_x), &ACCX);
    LPF_1_db(35,1000, (float)(icm20602_acc_y), &ACCY);
    LPF_1_db(35,1000, (float)(icm20602_acc_z), &ACCZ);
    //对陀螺仪和加速度计的数据进行低通滤波处理,以减少噪声的影响

    要对陀螺仪获取的数据进行滤波
    要对测出的角度进一步检测 以达到精确