# Auto detect text files and perform LF normalization
* text=auto
简单来说，PID 控制器就是对输入信号 r(t)和输出信号c(t)的差值 e(t)（即误差信号）进行比
例、积分和微分处理，再将其加权和作为控制信号u(t)来控制受控对象，从而完成控制过程的。

 K P 值的增大，系统的响应速度加快，稳态误差减小，超调量却在增加，调节时间变长，而且随着 K P 值增大到一定程度，系统最终会变得不稳定。这也验证了前面对比例控制的描述。

加入积分调节可使系统稳定性下降，动态响应变慢。积分作用常与另两种调节规律结合，组成PI调节器或PID调节器，单独的积分单元的引入会带来相位滞后，为系统的稳定性带来不良影响    消除稳态误差的作用。

微分作用反映系统偏差信号的变化率，具有预见性，能预见偏差变化的趋势，因此能产生超前的控制作用，在偏差还没有形成之前，已被微分调节作用消除。因此，可以改善系统的动态性能。在微分时间选择合适情况下，
可以减少超调，减少调节时间。微分作用对噪声干扰有放大作用，因此过强的加微分调节，对系统抗干扰不利。此外，微分反应的是变化率，而当输入没有变化时，微分作用输出为零。微分作用不能单独使用，需要与另外两种调节规律相结合，组成PD或PID控制器
MPU6050 转到 180 度时，其航向角的差值过大，往左右轻微摇摆就能达到 360 度左右的差值，PID 计算出的 PWM 值传入舵机后会持续往一个方向打死，由此导致小车不停转圈。

最后将偏航角的范围改为 0-360 度，并在 PID 积分器中对较大的差值做了处理上述 。
 icm20602_get_acc();//获取加速度计
    icm20602_get_gyro();//获取陀螺仪
    LPF_1_db(35,1000,(float)(icm20602_gyro_x - GRY_OffsetRaw.AXIS_X),&GRYX);
    LPF_1_db(35,1000,(float)(icm20602_gyro_y - GRY_OffsetRaw.AXIS_Y),&GRYY);
    LPF_1_db(35,1000,(float)(icm20602_gyro_z - GRY_OffsetRaw.AXIS_Z),&GRYZ);
    LPF_1_db(35,1000, (float)(icm20602_acc_x), &ACCX);
    LPF_1_db(35,1000, (float)(icm20602_acc_y), &ACCY);
    LPF_1_db(35,1000, (float)(icm20602_acc_z), &ACCZ);
    //对陀螺仪和加速度计的数据进行低通滤波处理,以减少噪声的影响

    要对陀螺仪获取的数据进行滤波
    要对测出的角度进一步检测 以达到精确
    直立环为串级控制，内环为角速度环，外环为角度环，内外环同周期控制。

直立环我们关注点主要有两个，静态指标、动态性能。静态指标就是车稳态时实际倾角与目标倾角之间的偏差。动态性能就是在给车的目标倾角一个大的跳变时车的响应性能。我们认为这两个东西是相互矛盾的，如果只是同周期串级控制。

实际循迹对于静态指标和动态性能要求都比较高的。

我们也试出了一种比较好的解决方案。同周期串级控制，用实际倾角-稳态舵机打角的拟合公式替换原先的积分项。如此一来既可以保证一定的静态指标，也能够有较好的动态性能。

有时会想，也许是同周期限制了这个串级控制的另一种可能性，静态和动态的双赢吧。只不过当时舵机只能50Hz，20ms一个周期来响应。

“用实际倾角-稳态舵机打角的拟合公式替换原先的积分项”，我们直立环算出的PWM是一个相对于舵机中值的偏移量。这个拟合公式，是我们认为在这一个速度下，这一个实际倾角下，对应最优的舵机打角。然后，只包含PD的串级控制，一方面用于调整到目标倾角，另一方面用于保持车的稳定，并且不会有积分项带来的大惯性
角速度环
角速度环方面使用的是增量式PD，看到有人是使用位置式的，其实两种基本一样，只不过增量式计算量较小，对算力压力不大，另外在单车这种高速振动的系统中，实测增量式中加入积分环节效果一般，很容易因各种问题导致饱和，当然也有看到使用位置式PID调的很好的，这可能和陀螺仪的漂移有关，也就要大家自己来选取一款合适的陀螺仪了，这里就抛砖引玉一下。

角度环
在Lq所开源的Lqr算法当中是以角度环作为主输出，其中用一个D来处理角速度，实际上加速度才是真正要考虑的点，这也是不耐造的原因之一，（或许加一个角速度环会更好？？？）在调试过程中，角度环主要是用来补偿速度环带来的溢出或者延迟，因此角度环我只采用了简单的位置式P进行处理，并且调试过程中是粗调的。

速度环
速度环虽然作为最外环，我却认为是很重要的一环，因为他决定了你单车受到干扰后保持稳定的能力，采用的是位置式PID进行精调。很多人不理解速度环到底是怎么作为输入的？？？？？？？很简单的例子，假设单车往左倒需要动轮逆时针转动（车屁股视角），通过编码器的极性你就可以判断出此时车身的姿态到底是往哪边倒的，此时为了让车往右的方向归，便需要不断加速来平衡，这中间就涉及到了溢出的问题，也就是车子会向右倒，这时候就需要粗调角度环来抑制这个影响。（当车身右倒，角度环大就抵消了）

调试方法
先精调角速度环，到往一个方向倒开始觉得困难了就可以调速度环，加上了速度环以后，车子能立2s左右倒下后开始调速度环，一开始建议大家三个环都只进行普通的P控制，实测效果也非常好，能立且抗干扰能力比Lqr好太多。调参过程中尽可能大的增加速度环，外界干扰姿态，观察归正情况，若有过冲则增大角度环，而角速度环更像是一个比例系数（如果是纯P），所有的修正均可通过修正速度环处理，调好以后加上D值精调。

5.3 压弯技巧 
当控制平衡车在弯道行驶时，舵机打角的作用不可忽视。为了实现平滑的
弯道过弯，我们采用了一种称为"压弯"的控制策略。该策略旨在根据舵机的角
度和当前车辆的速度，通过调整车辆的零点位置来确保动量轮以低速稳定运
转，并使车辆稳定地倾斜到适当的角度。
在弯道行驶中，舵机打角会引起车辆的倾斜，从而影响动量轮的转速。为
了保持动量轮转速的稳定低速，我们需要根据车辆的状态进行相应调整。通过
观察舵机的角度和车辆的速度，我们能够判断出需要施加多大程度和方向的压
弯控制。
具体而言，我们采用以下公式来确定期望的零点位置：期望零点 ∝ 舵机打
角 * 车辆速度。这个公式中的常数用于调整压弯的程度，以确保车辆在弯道
行驶时保持适当的倾斜角度。通过将零点位置偏移至合适的位置，我们可以实
现对动量轮转速的精确控制，从而在弯道行驶时实现平衡车的稳定性。
当应用压弯控制策略时，需要根据特定的需求进行公式调整。常数的选择
取决于舵机的特性和车辆的动力学特性。通过合理选择常数的值，我们能够平
衡控制的精度和稳定性。
综上所述，采用基于舵机角度和车辆速度的压弯控制策略，通过调整车辆
的零点位置来稳定控制动量轮转速。这种策略使得车辆能够在弯道行驶时保持
稳定的倾斜角度，实现平滑的弯道过弯效果。压弯的具体公式为 期望零点 ∝
舵机打角 * 车辆速度，其中常数根据实际需求进行选择和调整。通过这种控
制策略，提高了平衡车在弯道行驶时的稳定性和操控性能，同时实现了对动量
轮转速的精确控制。
（1）安装编码器时要注意编码器齿轮与电机带动齿轮咬合不能太紧，太紧会增大摩擦力，给驱动增加负担，也不能太松，太松会出现编码器读取值不准确，影响控制。可以通过调节编码器支架在车模上的位置来调节编码器齿轮与电机带动齿轮咬合的松紧度。
（2）齿轮皮带不能被拉的太紧，太紧会增大摩擦力，导致行进电机转动困难。皮带也不能太松，太松会导致皮带与齿轮之间脱轨，出现电机空转的现象。我们可以通过调节行进电机的固定螺丝来调节皮带的松紧度，调节时要注意，当皮带刚好可以咬合主动轮和从动轮时，是最佳固定状态，此时的皮带既不影响轮的转动，还不会增大摩擦力。
（3）飞轮调平：飞轮在快递运输过程中，难免会出现暴力运输的现象，从而导致飞轮的圆心与电机轴不在同一条直线上，这时候就需要先将飞轮调平，通过联轴器上的吉米螺丝来调整飞轮的圆心位置，使其与电机轴在同一条直线上（稍微的倾斜影响不大）。如果收到货时飞轮本身就已经形变（平放在桌面上有翘起）则应及时联系卖家协助解决问题。
（4）电路板在安装的时候要靠近中心位置，按照教程上的安装即可。需要注意的是一定要安装的牢固一些，以免后期调车时出现“爆装备”的现象。
（5）电池安装在车模的中间，需要用扎带或魔术扎带进行固定，充电时最好不要取下来充电。电池不可过充过放，否则会对电池造成不可逆的伤害。
（6）B6平衡充可以用来给6S电池充电，但不仅仅限于6S电池。7.4V锂电池、1-6S电池都可以用它充电，充电电压以及电流可以根据不同电池进行调整。
在观察图像、调试波形、测试参数的过程中我们分别采用了由逐飞科技提供的“逐飞科技智能车传感器调试助手”、“Serial_Digital_Scope V2_Cracked（虚拟示波器）”和“sscom5.13.1”，通过对传感器实时采集数据并做相应处理，以取得我们希望的数据。在实际测试中，“sscom5.13.1”能够很好的把每个时刻的数据反馈给我们，且精确度较高；“Serial_Digital_Scope V2_Cracked（虚拟示波器）”用于显示波形，为调节单车平衡提供了很大的帮助；“逐飞科技智能车传感器调试助手”用于显示图像，能够逐帧清晰地观察到图像，但是过于占用资源导致图像更新速度过慢，并不适合用于处理连续变化的图像。合理使用上位机，通过上位机分析才能取得有效的结果。
4.2.2串口屏、蓝牙、按键调试
由于上位机需要在电脑上使用，为了方便，对于部分数据我们采用了显示屏和蓝牙、按键结合的形式进行调参，通过蓝牙或者按键来改变数据，大大节省了反复烧写代码的时间，便于观察小范围变化的数据对小车的整体影响。
4.3整车机械方面的调整
车模的机械也是很重要的一方面，针对平衡单车组车模，必须有几个特别需要关注的地方：
1）摄像头支架必须结实耐撞，震动尽量小。震动会导致传感器得到图像“抖动”，导致车模会在赛道上“颤抖”。
2）重心尽可能低，并且分布均匀。把车模地盘降低，车上装配的器件也尽可能的放低，转弯效果会比较好。分布均匀可以防止车模在赛道甩动。本组单车讲电池放到地盘下面有效的使得小车的重心大大降低。
3）为了防止小车侧面安装的驱动电机和电机不会因为小车频繁倒地而损坏，我们在车上加了一根碳素杆，在不影响比赛的前提下，保护小车的安全。

